# ==========================================================
# 1. IDENTITIES AND ACCESS (Common)
# ==========================================================
# --- AI & SEARCH ENGINE ---
OLLAMA_IP=http://127.0.0.1:11434/api/chat 
OLLAMA_CONFIG=http://127.0.0.1:11434 
MODEL_NAME_MAIN=llama3.1:8b 
SEARXNG_URL=http://127.0.0.1:8080 
WHISPER=CPU

# --- NETWORK & SYSTEM ---
HUB_IP=IP_SERVER

# --- Linux directory for config or database or playlist ---
DIR_DOCS="/home/USER/Documents" 

# --- SECURITY & LANGUAGES ---
LIST_ALLOWED_SIGS=hash_1_here,hash_2_here 
DICO_USERS=user:password,user2:password2
