# ==========================================================
# 1. IDENTITIES AND ACCESS (Common)
# ==========================================================
# --- AI & SEARCH ENGINE ---
OLLAMA_IP=http://[LOCAL_IP]:11434/api/chat 
OLLAMA_CONFIG=http://[LOCAL_IP]:11434 
MODEL_NAME_MAIN=qwen2.5:3b 
LANGUAGE=fr
SEARXNG_URL=http://[LOCAL_IP]:8080
SEARCH_LANG=fr-FR
SERVER_HOSTNAME=HOSTNAME_OR_LOCAL_IP
WHISPER=CPU

# --- NETWORK & SYSTEM ---
HUB_IP=[SERVER_IP_ADDRESS]

# --- Linux directory for config or database or playlist ---
DIR_DOCS="/home/[USER]/Documents"
SCRIPT_TTS=/home/[USER]/[PROJECT_PATH]/tts_test.py

# --- SECURITY & LANGUAGES ---
LIST_ALLOWED_SIGS=[HASH_1],[HASH_2] 
DICO_USERS=[USER_1]:[PASSWORD_1],[USER_2]:[PASSWORD_2]

# --- AUTOMATICALLY ADDED DURING MIGRATION ---
REPLACE_LOCATIONS=Chambre_1,Chambre_2,Salon,Cuisine,Salle_de_bain,Toilettes,ALL
REPLACE_RULE_LOCATIONS=Partout, tout, toutes, maison --> ALL
LANGUAGE2=fr-FR
LIST_USERS=[USER_1],[USER_2]
HUB_PORT=28888
RPI_PORT=28889
DICO_ENGINE_WEIGHTS=google:1.0,duckduckgo:1.1,github:2.0,wikidata:1.6,wikipedia:1.2,stackoverflow:1.8
LIST_PRIORITY_DOMAINS=[DOMAIN_1],[DOMAIN_2],[DOMAIN_3]
