# ==========================================================
# 1. IDENTITIES AND ACCESS (Common)
# ==========================================================
# --- AI & SEARCH ENGINE ---
OLLAMA_IP=http://127.0.0.1:11434/api/chat 
OLLAMA_CONFIG=http://127.0.0.1:11434 
MODEL_NAME_MAIN=llama3.1:8b 
SEARXNG_URL=http://127.0.0.1:8080 
WHISPER=CPU

# --- NETWORK & SYSTEM ---
HUB_IP=IP_SERVER

# --- Linux directory for config or database or playlist ---
DIR_DOCS="/home/USER/Documents" 

# --- SECURITY & LANGUAGES ---
LIST_ALLOWED_SIGS=hash_1_here,hash_2_here 
DICO_USERS=user:password,user2:password2 
LANGUAGE=en 
LANGUAGE2=en-US
VLC_PWD=test

# --- MAIL & CALENDAR ACCESS (PROTON) ---
USERNAME=Your_Name 
DOMAIN=your_domain.com 
USER_MAIL=your_email@example.com 
PWD_MAIL=your_app_specific_password 
IP_MAIL=127.0.0.1 
PORT_SMTP_MAIL=1025 
LINK_CALENDAR=https://calendar.proton.me/api/calendar/v1/url/YOUR_PRIVATE_TOKEN_HERE 

# --- HOME ASSISTANT ACCESS ---
HA_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 
HA_HOSTNAME=ha_hostname 
HA_WEATHER_LOCATION=weather.city 

# --- PORT configuration ---
HUB_PORT=28888
RPI_PORT=28889
VLC_PORT_START=48888 

# ==========================================================
# FOR: mail_service.py & get_calendar.py
# ==========================================================
LIST_BLACKLIST_NAMES=LASTNAME,FIRSTNAME,CLIENT,BUYER,ORDER_REF
LIST_ADDR_KEYWORDS=STREET,BOULEVARD,AVENUE,SQUARE,ARENA,STADIUM,CONCERT_HALL
DICO_MONTHS=jan:01,feb:02,mar:03,apr:04,may:05,jun:06,jul:07,aug:08,sep:09,oct:10,nov:11,dec:12
DICO_VENUES=ORGANIZER:Venue Name - 123 Street Address, City, Country
REPLACE_LOCATION=Chambre_1,Chambre_2,Salon,Cuisine,Salle_de_bain,Toilettes

# ==========================================================
# FOR: web_scraper.py
# ==========================================================
SEARCH_LANG=en-US
DICO_ENGINE_WEIGHTS=google:1.0,duckduckgo:1.1,github:2.0,wikidata:1.6,wikipedia:1.2,stackoverflow:1.8
LIST_PRIORITY_DOMAINS=example.com,official-site.org,github.com

# ==========================================================
# THEME AND SUB-THEME MAPPINGS
# ==========================================================
DICO_THEME_MAPPING=1:DOMOTIC_AGENT,2:CALENDAR_AGENT,3:INFO_AGENT,4:DAILY_AGENT,5:MUSIC_AGENT,0:NONSENSE
DICO_SUB_DOMOTIC=1:LIGHTS,2:ACTION,0:NONSENSE
DICO_SUB_INFO=1:WEATHER,2:WEB_FAST,3:WEB_DEEP,0:NONSENSE
DICO_SUB_CALENDAR=1:NEXT_RDV,2:NEXT_CONCERT,3:CURRENT_WEEK,4:NEXT_WEEK,5:MAIL_NEXT_CONCERT,0:NONSENSE
DICO_SUB_DAILY=1:SHOP_ADD,2:SHOP_DEL,3:SHOP_MAIL,4:SHOP_INFO,5:FRIDGE_ADD,6:FRIDGE_REM,7:FRIDGE_INFO,0:NONSENSE
DICO_SUB_MUSIC=1:PLAYLIST_AGENT,2:VLC_AGENT,0:NONSENSE
DICO_SUB_VLC=1:TOGGLE,2:PREVIOUS,3:NEXT,4:VOL_DOWN,5:VOL_UP,6:SHUFFLE,7:INFO,0:NONSENSE
