# AI and LLM
ollama
faster-whisper

# Network and APIs
requests

# Data Processing & Scraping
trafilatura
vobject
mutagen
PyYAML
rapidfuzz

# Audio and System
pyaudio
sounddevice
numpy

# HA
websocket