DESCRIPTION=Weather, lights, plugs, temperature control. EXCLUDING music/audio devices
AGENT_FEATURES=NONSENSE,LIGHTS,ACTION,WEATHER
AGENT_MODEL=llama3.1:8b
REPLACE_LOCATIONS=Chambre_1,Chambre_2,Salon,Cuisine,Salle_de_bain,Toilettes

HA_TOKEN=YOUR_HOME_ASSISTANT_TOKEN 
HA_HOSTNAME=ha_hostname 
HA_WEATHER_LOCATION=weather.city 
