AGENT_MODEL=llama3.1:8b 
AGENT_FEATURES=NONSENSE,LIGHTS,ACTION,WEATHER
REPLACE_LOCATION=Chambre_1,Chambre_2,Salon,Cuisine,Salle_de_bain,Toilettes

HA_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 
HA_HOSTNAME=ha_hostname 
HA_WEATHER_LOCATION=weather.city 

