DESCRIPTION=Music, playlists, VLC
AGENT_FEATURES=NONSENSE,VLC_AGENT,PLAYLIST_AGENT,MANAGE
AGENT_MODEL=qwen2.5:3b

LIST_VLC_FEATURE=NONSENSE,TOGGLE,PREVIOUS,NEXT,VOL_DOWN,VOL_UP,SHUFFLE,INFO
REPLACE_PLAYLISTS=Default,Rock,Touhou
SMB_MOUNT_POINT=PATH_TO_MUSIC_LIBRARY

DICO_VLC_USERS=test:test
DICO_MA_USERS=test:test

VLC_PORT_START=48888 
LEN_ALBUMS_CACHE=50
